$blue:#324157;
$light-blue:#3A71A8;
$mainBlue:#4c84ff; // 全局主题色
$mainBlueHover:#4c84ff; // 主题覆盖色
$red:#ff0000;   //ee0000
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$font-gray:#606266;
$themeColor:#4c84ff;
$linkColor:#4c84ff;
$white:#ffffff;
$lightGrey:#909399;
$dangerColor:#F56C6C;
$WarningColor:#E6A23C;

//sidebar
$menuBg:#304156;
$subMenuBg:#121f32;
$menuHover:#001528;

$blue-hover:#1CACED;
$Blue:#0d111a;
$dark:#121f32;
